{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="row"> {# Main ROW #}
        <div class="twelve column centered" style="padding-top: 30px"> {# All large column #}
            <div class="six column centered">
                {% include 'ScreamzUserBundle:Profile:navbar.html.twig' %}
            </div>
            <hr>
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}