<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}welcome!{% endblock %}</title>

    <!-- included css files (compressed) -->
    {% stylesheets filter='cssrewrite' output='css/compiled/app.css'
    '' %}
    <link rel="stylesheet" href="{{ asset('bundles/kmghapp/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/kmghapp/css/bootstrap.min.css') }}"/>
    {% endstylesheets %}

    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<!-- ######################## Main MenuBAR ######################## -->
{% include '::navbar.html.twig' %}

<!-- ######################## BODY ######################## -->
{% block body %}{% endblock %}


<!-- ######################## Scripts ######################## -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Included JS Files (Compressed) -->
{% javascripts
'' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}

{% endblock %}
</body>
</html>
