<div id="menu">
    <div id="menu_content">
    </div>
</div>

<div id="bg_sousmenu">
    <ul id="nav">
        <li><a href="#">Page 1</a></li>
        <ul id="menu1">
        </ul>

        <li><a href="#">Page 2 &#9660;</a></li>
        <ul id="menu3">
            <li><a href="#page1">le lien 1</a></li>
            <li><a href="#page1">le lien 2</a></li>
            <li><a href="#page1">le lien 3</a></li>
            <li><a href="#page1">le lien 4</a></li>
        </ul>

        <li><a href="#">Page 3 &#9660;</a></li>
        <ul id="menu4">
            <li><a href="#page1">lien 1</a></li>
            <li><a href="#page1">lien 2</a></li>
            <li><a href="#page1">lien 3</a></li>
            <li><a href="#page1">lien 4</a></li>
        </ul>

        <li><a href="#">Page 4 &#9660;</a></li>
        <ul id="menu5">
            <li><a href="#page1">lien 1</a></li>
            <li><a href="#page1">lien 2</a></li>
            <li><a href="#page1">lien 3</a></li>
            <li><a href="#page1">lien 4</a></li>
        </ul>
</div>