{% extends "::base.html.twig" %}

{% block body %}
    <br/>
    <p>Sélectionner un choix</p>
    {{ form(form) }}
    <p id="loading-img" style="display: none"><img
                src="http://officedelamer.com/office/wp-content/plugins/ajax-campaign-monitor-forms/ajax-loading.gif"
                alt="loading"></p>
    </br>
     <p id="editFiche" style="display: none"><a href="#" title="Modifier">
     <span class="glyphicon glyphicon-pencil"></span>
         Editer cette fiche</a>
         </p>

    <div id="showFiche" style="display: none"></div>
    <!--
    /********************************************************************
    * Script Fiches Enseignements
    */
    -->
    <script>
        $(function () {
            var tabDiplomes = [];
            var tabEns = [];
            var tabPeriodes = [];
            var objectPeriodes = [];
            var objectDiplomes = [];
            var objectEns = [];

            var idTypeDiplome, idDiplome, idEnseignement, idPeriode;

            var selectTypeDiplome = $('#kmgh_app_enseignement_typeDiplome');
            var selectDiplome = $('#kmgh_app_enseignement_diplome');
            var selectEnseignement = $('#kmgh_app_enseignement_enseignement');
            var selectPeriode = $('#kmgh_app_enseignement_periode');
            var showFiche = $('#showFiche');
            var  editFiche = $('#editFiche');
            var loadingImg = $('#loading-img');

            // hide list
            selectDiplome.hide();
            selectEnseignement.hide();
            selectPeriode.hide();

            // listeners ( typeDiplomes )
            selectTypeDiplome.change(function (e) {
                e.stopPropagation();
                idTypeDiplome = selectTypeDiplome.val();
                selectTypeDiplome.attr('disabled', 'disabled');
                selectDiplome.empty(); // clear liste diplomes
                selectEnseignement.empty(); // clear liste enseignements
                selectPeriode.empty(); // clear liste periodes
                showFiche.hide(); //desactiver l'affichage de la fiche
                loadingImg.show();
                $.post(Routing.generate('kmgh_app_matiere_listeDiplomesAjax'), {id: idTypeDiplome})
                        .done(function (data) {
                            selectDiplome.append('<option hidden="hidden">-- Diplôme --</option>');
                            $.each(data, function (i, item) {
                                selectDiplome.append($('<option>', {
                                    value: item.id,
                                    text: item.nom
                                }));
                                tabDiplomes[i] = item.id;
                                objectDiplomes[i] = data[i];
                            });
                            selectTypeDiplome.removeAttr('disabled');
                            selectDiplome.show();
                            loadingImg.hide();
                        });
            });

            // listener diplomes
            selectDiplome.change(function (e) {
                e.stopPropagation();
                selectTypeDiplome.attr('disabled', 'disabled');
                selectDiplome.attr('disabled', 'disabled');
                selectEnseignement.empty(); // clear liste enseignement
                selectPeriode.empty(); // clear liste periode
                showFiche.hide();
                idDiplome = selectDiplome.val();
                loadingImg.show();
                $.post(Routing.generate('kmgh_app_matiere_listeEnseignementsAjax'), {id: idDiplome})
                        .done(function (data) {
                            selectEnseignement.append('<option hidden="hidden">-- Enseignement --</option>');
                            $.each(data, function (i, item) {
                                selectEnseignement.append($('<option>', {
                                    value: item.id,
                                    text: item.denomination
                                }));
                                tabEns[i] = item.id;
                                objectEns[i] = data[i];
                            });
                            selectTypeDiplome.removeAttr('disabled');
                            selectDiplome.removeAttr('disabled');
                            selectEnseignement.show();
                            loadingImg.hide();
                        });
            });

            // listener enseignement
            selectEnseignement.change(function (e) {
                e.stopPropagation();
                selectTypeDiplome.attr('disabled', 'disabled');
                selectDiplome.attr('disabled', 'disabled');
                selectEnseignement.attr('disabled', 'disabled');
                selectPeriode.empty(); // clear liste periode
                showFiche.hide();
                idEnseignement = selectEnseignement.val();
                loadingImg.show();
                $.post(Routing.generate('kmgh_app_matiere_listePeriodesAjax'), {id: idEnseignement})
                        .done(function (data) {
                            selectPeriode.append('<option selected hidden="hidden">-- Année - Semestre --</option>');
                            $.each(data, function (i, item) {
                                selectPeriode.append($('<option>', {
                                    value: item.id,
                                    text: item.annee + ' - S' + item.semestre
                                }));
                                tabPeriodes[i] = item.id;
                                objectPeriodes[i] = data[i];
                            });
                            selectTypeDiplome.removeAttr('disabled');
                            selectDiplome.removeAttr('disabled');
                            selectEnseignement.removeAttr('disabled');
                            selectPeriode.show();
                            loadingImg.hide();
                        });
            });

            // listener periode
            selectPeriode.change(function (e) {
                e.stopPropagation();
                selectTypeDiplome.attr('disabled', 'disabled');
                selectDiplome.attr('disabled', 'disabled');
                selectEnseignement.attr('disabled', 'disabled');
                selectPeriode.attr('disabled', 'disabled');
                showFiche.hide();
                idPeriode = selectPeriode.val();
                var idsObjectsSelected = {
                    "typeDiplome": idTypeDiplome,
                    "diplome": idDiplome,
                    "enseignement": idEnseignement,
                    "periode": idPeriode
                };
                loadingImg.show();
                $.post(Routing.generate('kmgh_app_matiere_tableauFicheAjax'), {idsObjDdata: idsObjectsSelected})
                        .done(function (dataTableau) {
                            showFiche.html(dataTableau);
                            selectTypeDiplome.removeAttr('disabled');
                            selectDiplome.removeAttr('disabled');
                            selectEnseignement.removeAttr('disabled');
                            selectPeriode.removeAttr('disabled');
                            showFiche.show();
                            editFiche.show();
                            loadingImg.hide();
                        });
            });
        });

    </script>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script>
        CSRF_TOKEN = '{{ user_csrf() }}';
    </script>
{% endblock %}