{% extends '::base.html.twig' %}
{% block body %}

    <h2>Id de la fiche actuelle : {{ detailFiches.id }}</h2>

    <table class="table table-striped" style="width: 200px; border: 1px solid #000000;">
        <tbody>
        <tr>
            <th>Nom enseignant</th>
            <th>Prénom enseignant</th>
            <th>Statut</th>
            <th>Diplôme</th>
            <th>Semestre</th>
            <th>Module</th>
            <th>Type de cours</th>
            <th>Nombre de groupe</th>
            <th>Nombre de séances</th>
            <th>Durée de la séance</th>
            <th>Total des heures</th>
        </tr>

        <tr>

            <td>nom</td>
            <td>prénom</td>
            <td>statut</td>
            <td> diplome</td>
            <td>semestre</td>
            <td>module</td>
            <td>type cours</td>
            <td>nb groupe</td>
            <td>nb séances</td>
            <td>durée séance</td>
            <td>total heures</td>


        </tr>
        </tbody>
    </table>


{% endblock %}

